:root{
  --default_margin: 5px;
  --default_padding: 15px;
  --main_banner_height: 25%;
  --main_body_height: 75%;
  --right_room_header_height: 10%;
  --right_room_body_height: 90%;

}

main {
  height: 100vh;
  border: 5px solid red;
  text-align: center;

}
body{
  height: 100vh;
  background-color: rgba(76, 74, 74, 0.997);


}

#top_floor {
  /* border: 1px solid limegreen;
  text-align: center; */


  height: var(--main_banner_height);
  background: rgba(124, 122, 122, 0.997);
  /* margin: var(--default_margin); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

#left_room {
  /* background-color: lightseagreen; */
  /* width: 33%; */
  background-color: rgba(76, 74, 74, 0.997);
  height: 75vh;
}

#right_room {
  /* background-color: lightsalmon; */

  /* width: 33%; */
  background-color: rgba(76, 74, 74, 0.997);
}
/* 
body {
  height: 100vh;
} */

#top_floor {
  height: 25%;
}

#bottom_floor {
  /* height: 75%; */

  height: var(--main_body_height);
  background: lightyellow;
  display: flex;
  justify-content: space-evenly;
  
}

#right_room_top_floor {
  height: 100px;
  margin-top: 25px;
  /* border: 1px solid black; */

}

#right_room_bottom_floor {
  display: flex;
  height: fit-content;
  justify-content: space-evenly;


 
}



.div_card{
  /* border: 5px solid red; */
  width: 240px;
  text-align: left;
  margin-bottom: 15px;

}

#remove_btn{
  background-color: red; 

}

#edit_btn{
  background-color: yellow; 
}

.btn-container{
  display: flex;
  justify-content: space-between;
}